/* Basic page style */

body {
    margin: 0px;
    height: fit-content;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* color: #eee;
    background-image: linear-gradient(#251179f2,#2b56bbd9); */
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    justify-content: center;
    background-image: linear-gradient(#271149f2,#162341d9);
    box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem #000000d9;
}

footer {
    font-family: monospace;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color: #eee;
    background-image: linear-gradient(#2b56bbd9,#251179f2);
    box-shadow: 1px 2px 5px 2px #000000b2;
}


/* Header properties */

header * {
    display: inline;
    height: 50px;
    text-decoration: none;
    color: #eee;
}

header li {
    margin-left: 20px;
}

/* Body properties */

#profile-img {
    margin: 5px;
    width: 250px;
    border-radius: 25%;
}

section h1 {
    font-size: 3em;
    font-family: monospace;
    text-decoration: underline;
}

section h2 {
    font-size: 2.5em;
    font-family: monospace;
}

#home {
    padding: 10%;

    color: #eee;
    background-image: linear-gradient(#251179f2,#2b56bbd9);
}

#about {
    margin-top: 10%;
    padding: 10%;
    margin: 5%;
    border-radius: 10px;
    box-shadow: 0.1rem 0.1rem 0.3rem -0.03rem #000000d9;
}

#projects {
    padding: 5%;
    color: #eee;
    background-image: linear-gradient(#2b56bbd9,#251179f2);
}

#contact {
    margin: 0.5%;
}

.contact-card {
    display: inline;
    margin-left: 5px;
    height: 8vh;
    border-radius: 10px;
    border: 1px;
}

.contact-card img {
    border-radius: 10px;
    width: 8vh;
}


/* Hover */

header li:hover {
    border: 5px solid #2b1b47d9;
    background: #2b1b47d9;
    background-size: cover;
    color: #eee;
    border-radius: 5px;
}
