/* Basic page style */

body {
    margin: 0px;
    height: fit-content;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* color: #eee;
    background-image: linear-gradient(#251179f2,#2b56bbd9); */
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    /* margin: 5px; */
    border-radius: 0 0 5px 5px;
    justify-content: center;
    box-shadow: 0px 17px 8px -5px #0000001a;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
}

footer {
    font-family: monospace;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color: #eee;
    background-image: linear-gradient(#2b56bbd9,#251179f2);
    box-shadow: 0px -9px 12px -6px #0000001a;
}


/* Header properties */

header * {
    display: inline;
    height: 50px;
    text-decoration: none;
    color: #eee;
}

header li {
    margin-left: 20px;
}

/* Body properties */

#profile-img {
    margin: 5px;
    width: 250px;
    border: 4px solid #ffffff;
    border-radius: 50%;
}

section h1 {
    font-size: 3em;
    font-family: monospace;
    text-decoration: underline;
}

section h2 {
    font-size: 2.5em;
    font-family: monospace;
}

#home {
    padding: 10%;

    color: #eee;
    background-image: linear-gradient(#251179f2,#2b56bbd9);
}

#about {
    margin-top: 10%;
    padding: 10%;
    margin: 5%;
    border: 2px solid #00000011;
    border-radius: 10px;
    box-shadow: 12px 17px 14px -5px #0000001a;
}

#projects {
    padding: 5%;
    color: #eee;
    background-image: linear-gradient(#2b56bbd9,#251179f2);
}

#contact {
    margin: 1%;
}

.contact-card {
    display: inline-block;
    width: 32px;
    height: 32px;
    /* border-radius: 10px;
    border: 1px solid #eee; */
}

.contact-card img {
    height: 32px;
    width: 32px;
}


/* Hover */

header li:hover {
    border: 5px solid #2b1b47d9;
    background: #2b1b47d9;
    background-size: cover;
    color: #eee;
    border-radius: 5px;
}

.contact-card:hover {
    border-radius: 10px;
    border: 1px solid #eeeeee51;
    box-shadow: 0px 0px 10px 10px #00000015;
}