/* Basic page style */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    height: fit-content;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #eee;
    background-image: linear-gradient(#180e42f2,#10307bd9);
}

 header {
    display: flex;
    position: fixed;
    font-family: monospace;

    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    /* margin: 5px; */
     border-radius: 0 0 10px 10px;

    box-shadow: 0px 17px 8px -5px #0000001a;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
}

footer {
    display: flex;
    font-family: monospace;
    font-size: smaller;

    margin: 1%;
    height: min-content;
    align-items: center;
    

    border: 2px solid #00000011;
    border-radius: 10px;
    box-shadow: 5px -9px 12px -6px #0000001a;
    background-color: #1f164257;
}


/* Header properties */

header * {
    display: inline;
    text-decoration: none;
    color: #eee;
}

header li {
    margin-right: 5px;
    padding: 10px;
}


#h-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0238b6d9;
    margin-left: 10px;
    align-self: center;
}

#h-cv {
    align-self: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid #391ea8ab;
    background-color: #391ea8ab;
    color: #eee;
    border-radius: 5px;
}

/* Footer properties */

footer p {
    margin-left: auto;
    margin-right: 10px;
}

.contact-card {
    display: inline-block;
}

.contact-card img {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}


/* Body properties */

#home {
    padding: 10%;
}

#about {
    margin-top: 10%;
    padding: 10%;
    margin: 5%;
    border: 2px solid #00000011;
    border-radius: 10px;
    box-shadow: 12px 17px 14px -5px #0000001a;
}

/* #projects {
    padding: 5%;
} */

#profile-img {
    margin: 5px;
    width: 250px;
    border: 5px solid #ffffff;
    border-radius: 50%;
}

section h1 {
    font-size: 3em;
    font-family: monospace;
    text-decoration: underline;
}

section h2 {
    font-size: 2.5em;
    font-family: monospace;
}


/* Hover */

header li:hover {
    border: 2px solid #391ea8ab;
    background-color: #391ea8ab;
    color: #eee;
    border-radius: 5px;
}

#h-cv:hover {
    background-color: #33227aab;
}